<section style="margin-bottom: 1em;">
    <div class="container">
        <h1>Lista de comics</h1>
        <div class="row">
            <div class="col" *ngFor="let item of comics">
                <div class="card" style="width: 18rem; margin-bottom: 1em;">
                    <img src="{{item.imgUrl}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.titulo}}</h5>
                        <!-- <p class="card-text">{{item.descripcion}}</p> -->
                        
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        [routerLink]="['/comicsDetail', item.id, item.titulo, item.descripcion, item.imgUrl]"
                            class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                color="black" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg> Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>